*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    /* background-color: rgb(181, 168, 168); */
}
@font-face {
    font-family: 'calistoga'; /* Tên font chữ */
    src: url('./font/Calistoga-Regular.ttf') ; /* Đường dẫn đến tệp font */
  }
  
/* body {
    font-family: 'calistoga', sans-serif; 
  }
   */

/* thanh dieu huong */
.dieuHuong{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #212121;
    padding: 0px 80px;
    position:fixed;
    width:100%;
    top:0px;
    z-index: 998;
}
.dieuHuong div a{
    text-decoration: none;
    color:white;
}

.dieuHuong div a:hover {
    color: red;
}

.trangChu{

}
.thanhVien{
    display:flex;
    justify-content: space-between;
    width:400px;
}




/* END THANH DIEU HUONG */
/* GIOI THIEU BAN THAN */

.gioiThieu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:120px 0px 50px 0px;
    background-color: #212121;
    position: relative;
}

.gioiThieu_noiDung,
.gioiThieu_anh {
    flex: 1;
}

.gioiThieu_noiDung {
    margin-right: 20px; /* Để tạo khoảng cách giữa hai phần tử */
    padding:0px 190px;
    width:200px;
    color:aliceblue;
}
.gioiThieu_noiDung_tieuDe{
    padding-bottom: 50px;
    text-align: center;
    font-size: 40px;
}
.gioiThieu_noiDung_moTa{
    text-align: justify;
    font-size: 24px;
}
.gioiThieu_anh img {
    max-width: 60%;
    position: relative;
    z-index: 2;
    animation: shake 1s infinite; /* Áp dụng animation vô hạn */
}

@keyframes shake {
    0% { transform: rotate(-1deg); } /* Góc quay ban đầu */
    50% { transform: rotate(1deg); } /* Góc quay trong nửa chu kỳ */
    100% { transform: rotate(-1deg); } /* Góc quay cuối cùng */
}

.gioiThieu_vongTron{
    background-color: pink;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    right:200px;
    top:140px;
}
/* END GIOI THIEU BAN THAN */

/* TRINH BAY SAN PHAM */

.sanPham{
    position:relative;
    background-color: #f6f0df;
    height: 100vh;
}

.slider{
    width:60%;
    height: 100%;
    position: absolute;
    
    padding-top:70px;
}

.sanPham .slider .anh{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin:auto;
  height: 70%;
  padding-top:60px;
  position: relative;
  z-index: 10;
}
.slider img{
    width: 100%;
    object-fit: cover;
    transition: opacity 1s ease;
    border-radius: 20px;
    border: 2px solid #ff0000;
    overflow: hidden;
    margin: 5px ;
}

.sanPham .noiDung{
    position:absolute;
    width: 40%;
    right: 0px;
    top:200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom :50px;
    padding-right: 100px;
}

.tieude{
    text-align: center;
    font-size: 24px;
    height: 100px;
    font-weight: 800;
} 
.mota {
    /* Các thiết lập phụ thuộc vào nhu cầu cụ thể */
    text-align: justify; /* Căn giữa nội dung */
    /* Các thuộc tính khác tùy thuộc vào yêu cầu của bạn */
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}



.slider .buttons{
    position: absolute;
    top:40%;
    padding:0px 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 22px;
    font-weight: 1000;
    font-family: monospace;
    background-color: none;
    background-color:rgb(243, 234, 234);
}

.slider .buttons button:hover{
    background-color:rgb(223, 207, 207);
    cursor: pointer;
}

.slider .dots{
    position: absolute;
    bottom: 70px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #d32525;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}

.hien {
    animation: fadein 0.5s ease;
}

@keyframes fadein {
    from { opacity: 0.3; }
    to   { opacity: 1; }
}

.anhPhongTo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#f6f0df; /* Nền màu vàng */
    display: flex;
    justify-content: center; /* Căn giữa ảnh theo trục ngang */
    align-items: center; /* Căn giữa ảnh theo trục dọc */
    z-index: 999; /* Đảm bảo div này nằm trên cùng */
    display:none;

}
.anhPhongTo img {
    max-width: 95%; /* Giới hạn chiều rộng của ảnh */
    max-height: 95%; /* Giới hạn chiều cao của ảnh */
    border:none;
    border-radius: 0px;
    object-fit: contain
}

.slider img:hover{
    cursor: pointer;
}

/* END TRINH BAY SAN PHAM */

/* SKILL */
.skill {
    padding:50px 200px;
    position: relative;
    background-color: #f6f0df;

  }
  
  .skillHeader{
    padding:50px 0px;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .skill-name {
    margin-bottom: 10px;
    font-weight: 700;
  }     
  
  .skill-bar {
    position: relative;
    background-color: #ddd;
    height: 15px;
    border-radius: 5px;
    margin-bottom: 40px;
  }
  
  .skill-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px;
    box-shadow: -2px 7px 10px 0 rgba(0, 0, 0, 0.9);
  }
  
  .skill-progress.animate{
    animation: phantram 1.5s ease;
  }
  .skill-text {
    position: absolute;
    top: -40px; /* Điều chỉnh vị trí bong bóng thoại */
    right:0px; /* Điều chỉnh vị trí bong bóng thoại */
    transform: translateX(35%);
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    box-shadow: -2px 7px 10px 0 rgba(0, 0, 0, 0.5);
  }

  .skill-text::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    border: 10px solid transparent;
    border-top-color:#ccc; /* Màu mũi tên */
    transform: translateX(-50%);
  }
  
@keyframes phantram{
    0%{
        width:0px;
    }
    100%{
    }
  }
/* END SKILL */

/* CONTACT */

.contact{
    padding:100px 0px;
}
.contact_icon div{
    width:50px;
}
.contact_icon div svg{
    height: 100%;
    fill:rgba(120, 104, 104, 0.868);
}

.contact_icon{
    display:flex;
    margin: auto;
    justify-content: space-around;
    width: 50%;
}
.contact_noidung{
    text-align: center;
    padding:40px 0px;
}

.contact_noidung_tieude{
    font-size: 40px;
    letter-spacing: 20px;
}

.contact_noidung_ten{
    font-size: 20px;
    font-style: italic;
    padding:20px 0px;
}

.contact_icon a:hover svg {
    fill: rgb(255, 0, 0); /* Đổi màu tại đây */
}

/* END CONTACT */


/* FOOTER */

.footer{
    width: 100%;
    background-color: #f6f0df;
    padding:50px 0px;
}
.footer1{
    width: 90%;
    margin: auto;
}
.footer_noiDung{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 20px;
    padding-top: 15px;
}

.footer_icon{
    display: flex;
    justify-content: space-between;
    width: 18%;
    align-items:flex-end;
}

.footer_icon div{
    width: 25px;
}
.footer_icon div svg{
    fill: rgba(50, 47, 47, 0.578);
}

.footer_icon div svg:hover{
    fill:black;
}


/* END FOOTER */